<footer>
  <div class="container footer">
    <section class="footer-logo">
      <a href="./index.html" class="logo-link">
        <svg class="svg-icon" width="299" height="98">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </section>
    <ul class="title-list">
      <li class="title-item">
        <a href="#about-us" class="item-link">Про нас</a>
      </li>
      <li class="title-item">
        <a href="#pets-list" class="item-link">Знайти друга</a>
      </li>
      <li class="title-item">
        <a href="#faq" class="item-link">Часті запитання</a>
      </li>
      <li class="title-item">
        <a href="#success-stories" class="item-link">Історії успіху</a>
      </li>
    </ul>

    <ul class="social-footer">
      <li class="footer-item">
        <a
          href=" https://www.facebook.com/"
          class="footer-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="footer-item">
        <a
          href="https://www.instagram.com/"
          class="footer-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="footer-divider"></div>
    <p class="finish-text">&copy; Хатинка лапок. Всі права захищені.</p>
  </div>
</footer>
