<section class="stories-section" id="success-stories">
    <div class="container">
        <h3 class="stories-title">Щасливі історії, що надихають</h3>
        <p class="stories-description">
            Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
        </p>

        <div class="stories-loader loader"></div>

        <div class="stories-swiper swiper">
            <div class="stories-wrapper swiper-wrapper"></div>

            <div class="stories-controls visually-hidden" id="swiper-controls">
                <div class="stories-pagination swiper-pagination" id="swiper-pagination"></div>

                <div class="stories-nav" id="swiper-buttons">
                    <button class="stories-button-prev swiper-button-prev animated-nav-button" id="swiper-button-prev"
                        aria-label="Попередній слайд відгуків">
                        <svg class="arrow-icon" width="20" height="20">
                            <use href="./img/sprite.svg#arrow_back"></use>
                        </svg>
                    </button>

                    <button class="stories-button-next swiper-button-next animated-nav-button" id="swiper-button-next"
                        aria-label="Наступний слайд відгуків">
                        <svg class="arrow-icon" width="20" height="20">
                            <use href="./img/sprite.svg#arrow_forward"></use>
                        </svg>
                    </button>
            </div>
        </div>
    </div>
</section>   
